    body {
    background-color: rgb(102, 100, 226);
    }

.jumbotron {
    text-align: center;
    min-height: 50vh;
    background-image: url(images/iiwi\ logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.name {
    padding-top: 3%;
    font-size: 10vh;
    text-align: center;
    color:aliceblue;

}

.Description {  
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    font-size: 2em;
    height: 160vh;
    color:aliceblue;
}

nav {
    min-height: 14vh;
    background-color: green;    
}

nav ul a {
    background-color:none;
    color:aqua;
    text-decoration: none;
    font-size: 1.5em;
}

nav ul {
    padding: 20px;
    float: right;
    display: flex;
    list-style-type: none;
    color:aqua;
}

nav ul li {
    margin-right: 0.5em;
}

nav ul a:hover {
    color: azure
}

.sections {
    color:aliceblue
}